
html{
	background-color: #FCDCC1;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;
}

body{
  background-color: #FCDCC1;
}

div.wrapper {
  margin: 20px auto;
  width: 350px;
  background-color:#FCDCC1;
}

/*.bookImage {
  background-image-repeat: x-axis;
}*/
.bookshelf {
	background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRz9gmohiGVVOJ0gIqTPjj6WBnu_C5D3Vg251NDVBH53gfixDefw0ERPw');
	background-repeat: repeat-x; 
	background-position: left top; 
	padding-top:68px; 
	margin-bottom:50px;
  border-image-outset: 50px;
}

.library {
 background-image: url('http://images.freeimages.com/images/previews/ec2/library-1441756.jpg');
background-size: cover;
height: 700px;
background-attachment: fixed;
background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 270px;
    font-weight: bold;
    color: #3333333;
    background-color: #FCDCC1;
;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #CC9900;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: blue;
}
{
  margin: 0;
  padding: 0;
  outline: none;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.newUser {
  bakground-color: beige;
}

.btn-primary {
  font-weight: bold;
}



